@import views.html.helper.CSRF
@import views.html.partials.spinner
@import controllers.BookingController.Booking
@(booking: Booking, apiKey: String)(implicit requestHeader: RequestHeader)
@main("Booking summary") {
  <noscript>
    Please enable javascript. The payment form needs it to function
  </noscript>
  <input id="api-key" type="hidden" value="@apiKey">
  <input id="number-of-lessons" type="hidden" value="@booking.numberOfLessons">
  <input id="length-of-lesson" type="hidden" value="@booking.lengthOfLesson">
  <input id="email" type="hidden" value="@booking.email">
  <input id="student-id" type="hidden" value="@booking.studentId">
  <ul class="page-template">
    <li>
      <ul class="booking-summary">
      <li><h2>Your booking summary</h2></li>
        <li><h3 class="bold">Number of lessons:</h3> @booking.numberOfLessons</li>
        <li><h3 class="bold">Length of lesson:</h3> @booking.lengthOfLesson minutes</li>
      @for((date, idx) <- booking.dates.zipWithIndex) {
        <li><h3 class="bold">Lesson @{idx + 1}</h3> @date</li>
      }
        <li><h3 class="bold">Total Cost: </h3>£@{booking.totalCost / 100}</li>
      </ul>
    </li>
    <li class="payment-form">
      @spinner()
      <form id="payment-form">
        @CSRF.formField
        <div id="link-authentication-element">
            <!--Stripe.js injects the Link Authentication Element-->
        </div>
        <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
        </div>
        <button class="pay-btn" id="submit">
          Pay now
        </button>
        <div id="payment-message" class="hidden"></div>
      </form>
    </li>
  </ul>
}
