@import views.html.helper.CSRF
@import controllers.BookingController.Booking
@import services.AmountService.Prices
@(prices: Prices, lessonLength: Int)(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@main("Book a lesson") {
  <section class="cards">
    <ul>
      @priceCard(1, s"£${prices.oneLesson / 100}", "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo")
      @priceCard(3, s"£${prices.threeLessons / 100}", "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident")
      @priceCard(6, s"£${prices.sixLessons / 100}", "Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus,")

    </ul>

  </section>
}
@priceCard(numLessons: Int, amount: String, description: String) = {
  <li class="card card-list-item">
    <div class="price-heading">
      <h2 class="price-text">@numLessons LESSON@if(numLessons > 1){S}</h2>
    </div>
    <div class="price-amount">
      <h3 class="amount-text">@amount</h3>
      <p class="amount-description">@description</p>
    </div>
    <div class="price-submit">
      <a class="price-submit-link" href="@routes.BookingController.calendar(numLessons, lessonLength, None, None)">Book now</a>
    </div>
  </li>
}
