@import views.html.helper.CSRF
@import controllers.BookingController.Booking
@()(implicit requestHeader: RequestHeader, messagesProvider: MessagesProvider)
@main("Book a lesson") {
  <section class="cards">
    <ul>
      @priceCard(30, "30 minute lessons are recommended for children. Lessons will be held on a weekly basis.")
      @priceCard(60, "60 minute lessons are recommended for adults and older children who are working towards higher grades. Lessons will be held on a weekly basis.")
      @priceCard(0, "1 Free trial lesson per student. All trial lessons will last 30 minutes.")


    </ul>

  </section>
}
@priceCard(lessonLength: Int, description: String) = {
  <li class="card card-list-item">
    <div class="price-heading">
      @if(lessonLength == 0) {
        <h2 class="price-text">FREE TRIAL LESSON</h2>
      } else {
        <h2 class="price-text">@lessonLength MINUTE LESSON</h2>
      }

    </div>
    <div class="price-amount">
      <p class="amount-description">@description</p>
    </div>
    <div class="price-submit">
      @if(lessonLength == 0){
        <a class="price-submit-link" href="@routes.BookingController.calendar(1, lessonLength, None, None)">Book now</a>
      } else {
        <a class="price-submit-link" href="@routes.BookingController.book(lessonLength)">Book now</a>
      }

    </div>
  </li>
}
