@import views.html.helper.CSRF
@(apiKey: String)(implicit requestHeader: RequestHeader)
@main("Payment") {
  <input id="api-key" type="hidden" value="@apiKey">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <form id="payment-form">
        @CSRF.formField
        <div id="link-authentication-element">
            <!--Stripe.js injects the Link Authentication Element-->
        </div>
        <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
        </div>
        <button class="btn btn-danger" id="submit">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
      </form>
    </div>
  </div>
}
